body {
    background-color: rgba(140,35,50, 0.9);
    max-width: auto;
    height: 100%;
    width: auto;
  }
  
  .image {
    flex-direction: column;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    border: solid 10px;
    border-radius: 10%;
    
  }
  
  .fig {
    flex-direction: column;
    width: auto;
    text-align: center;
    font-family: Verdana;
    font-size: 14px;
    color: rgba(247,245,247,.9);
  }
  
  h1 {
    font-family: Verdana;
    text-align: center;
    font-size: 36px;
    color: rgba(247,245,247,.9);
  }
  
  .secondary-title {
    text-align: center;
    font-size: 28px;
    color: rgba(247,245,247,.9);
  }
  
  .img-div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 0;
    max-width: 1000px;
    max-height: auto;
    margin: auto;
  }
  
  .p-format {
    text-align: center;
    font-family: Verdana;
    color: rgba(247,245,247,.9);
    flex-direction: row;
    width: auto;
    vertical-align: text-bottom;

  }
  
  .p-format > a {
    color: white;
  }

  .flex-history {
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  .img-history {
    flex: 2;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-width: 0;
    max-width: 226px;
    max-height: 327px;
    margin: auto;
    box-sizing: border-box;
  }